<h2> What <%= @user.username %> is watching... </h2>

<% @shows.each do |show| %>
<div>
  Show: <%= show.name %>
  Genre: <%= show.genre %>
</div>
<% end %><br>
<p>Something catch your eye? <a href="/shows/new">Add a show to your list</a></p>
<a href="/myshows">Back to my shows</a>

<h3> What's everyone else watching... </h3>
<h4> Users </h4>
<% @all_users.each do |user| %>
<div>
  <a href="/shows/<%= user.slug %>/display"><%= user.username %></a>
</div>
<% end %>
