
<p> Welcome, <%= current_user.username %> <a href="/logout">Logout</a> </p>
<h2> What You're wathcing... </h2>

<% @shows.each do |show| %>
<div>
  Show: <%= show.name %>
  Genre: <%= show.genre %>
  <a href="/shows/<%= show.id %>/edit">Edit</a>
    <form method="post" action="/shows/<%= show.id %>">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="Delete" />
  </form>
</div>
<% end %>
<a href="/shows/new">Watching something? Add a show here</a>

<h3> What everyone else is watching... </h3>
<h4> Users </h4>
<% @all_users.each do |user| %>
<div>
  <a href="/shows/<%= user.slug %>/display"><%= user.username %></a>
</div>
<% end %>
